.wrapper {
  min-width: 350px;
  min-height: 450px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  margin-right: 30%;
  
}

.wrapper .container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.wrapper .container .top {
  min-height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceef0;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.wrapper .container .top img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper .bottom {
  position: absolute;
  height: auto;
  width: 100%;
  border: 5px solid #eceef0 !important;
}

.wrapper .bottom p {
  margin-left: 1rem;
  font-size: 15px;
}

.wrapper .bottom .prodName {
  margin-left: 1rem;
  text-transform: uppercase;
}

.wrapper .bottom .prodPrice {
  font-weight: bolder;
  margin-top: -10px;
  font-family: "Oswald", sans-serif;
}

.wrapper .bottom .prodGender {
  font-family: "Oswald", sans-serif;
  margin-top: -1rem;
  color: #767677;
  font-size: 11px !important;
}

.wrapper .inside {
  z-index: 9;
  background: black;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
  color: white;
  font-family: "Oswald", sans-serif;
}


.wrapper .inside .contents p {
  color: white;
  font-size: 1rem !important;
}

.wrapper .inside .contents p {
  font-size: 23px;
}

