.loader {
      max-width: 350px;
      min-height: 450px;
      background:
          linear-gradient(0.25turn, transparent, #FFF, transparent),
          linear-gradient(#eceef0, #eceef0),
          linear-gradient(#eceef0, #eceef0),
          linear-gradient(#eceef0, #eceef0);
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 350px 450px, 350px 350px, 100px 15px, 150px 15px;
      background-position: -215px 0, 0 0, 5px 360px, 5px 400px;
      animation: loading 1.5s infinite;
      border: 5px solid #eceef0;
      margin: 1rem 12px;
  }

  @keyframes loading {
    to {
      background-position: 215px 0, 0 0, 5px 360px, 5px 400px;
    }
  }