.form_cont {
  text-align: center;
  margin-top: 3rem;
}

.form_cont .logo {
  font-family: "Anton", sans-serif;
  font-size: 6rem;
  color: black;
  text-shadow: 0 2px 1px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878,
    -3px 7px 1px #7a7a7a, -4px 9px 1px #7f7f7f, -5px 11px 1px #838383,
    -6px 13px 1px #878787, -7px 15px 1px #8a8a8a, -8px 17px 1px #8e8e8e,
    -9px 19px 1px #949494, -10px 21px 1px #989898, -11px 23px 1px #9f9f9f,
    -12px 25px 1px #a2a2a2, -13px 27px 1px #a7a7a7, -14px 29px 1px #adadad,
    -15px 31px 1px #b3b3b3, -16px 33px 1px #b6b6b6, -17px 35px 1px #bcbcbc,
    -18px 37px 1px #c2c2c2, -19px 39px 1px #c8c8c8, -20px 41px 1px #cbcbcb,
    -21px 43px 1px #d2d2d2, -22px 45px 1px #d5d5d5, -23px 47px 1px #e2e2e2,
    -24px 49px 1px #e6e6e6, -25px 51px 1px #eaeaea, -26px 53px 1px #efefef;
  margin-bottom: 2rem;
}

.form_cont .form_box {
  min-height: 590px;
  width: 50vw;
  background-color: #eceef0;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form_cont .login {
  text-align: center;
}

.form_cont .form_box .cover_pic {
  width: 50%;
  height: 100%;
  bottom: 100px;
}

.form_cont .form_box .cover_pic img {
  object-fit: cover;
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 999999;
  transition: 0.3s;
}

.form_cont .form_box .right_col {
  position: absolute;
  text-align: center;
  right: 0;
  height: 100%;
  width: 50%;
  color: black;
  z-index: 1;
}

.form_cont .form_box .left_col {
  position: absolute;
  text-align: center;
  left: 0;
  height: 100%;
  width: 50%;
  color: black;
  z-index: 1;
}
